"clangd.arguments": [
        "--background-index",
        "--compile-commands-dir=build",  
        "-j=12",
        "--all-scopes-completion",
        "--completion-style=detailed",
        "--header-insertion=iwyu",
        "--pch-storage=memory",
        "--cross-file-rename",
        "--enable-config",
        "--fallback-style=WebKit",
        "--pretty",
        "--clang-tidy"

    	"--query-driver=clang++",
    ],
